name: CI
on:
  push:
    branches:
    - main
  pull_request:
    # Don't run on documentation-only changes
    paths-ignore: ["**.md"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: --deny warnings
      RUSTFLAGS: --deny warnings
    steps:
    - run: rustup component add clippy
    - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # 2.8.1
    - run: cargo fetch
    - run: cargo clippy --all-targets --frozen -- --deny warnings
    - run: cargo build --all-targets --frozen
    - run: cargo test --frozen
    - run: cargo doc --examples --frozen --no-deps
    - run: cargo build --all-targets --locked --features=radamsa
    - run: cargo test --locked --features=radamsa
