name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: tree-crasher

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
    - name: Cancel previous run
      uses: styfle/cancel-workflow-action@0.12.1 # zizmor: ignore[unpinned-uses] TODO
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false

    - name: Setup mdBook
      uses: peaceiris/actions-mdbook@v2 # zizmor: ignore[unpinned-uses] TODO
      with:
        mdbook-version: '0.4.10'

    - name: Build docs
      run: |
        cd doc
        mdbook build

    - name: Push docs
      uses: peaceiris/actions-gh-pages@v4 # zizmor: ignore[unpinned-uses] TODO
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: doc/book

    - name: Package docs
      shell: bash
      run: |
        tar -cvf doc.tar.gz doc/book/*

    - name: Upload docs
      uses: actions/upload-artifact@v5 # zizmor: ignore[unpinned-uses] TODO
      if: github.repository == 'langston-barrett/${{ env.NAME }}'
      with:
        name: "${{ env.NAME }}-docs"
        path: "*.tar.gz"
        if-no-files-found: error

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - run: rustup component add clippy
    - uses: langston-barrett/gha/.github/actions/install-linters@9137259cab1d86dbeae3bde37898a2dfe6a12130
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # 2.8.1
    - run: ./scripts/lint/lint.py

  static:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - name: Deps
      run: |
        sudo apt-get install -y musl-tools
        rustup target add x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # 2.8.1
    - run: |
        cargo build \
          --bin ${NAME}-c \
          --bin ${NAME}-css \
          --bin ${NAME}-javascript \
          --bin ${NAME}-regex \
          --bin ${NAME}-rust \
          --bin ${NAME}-solidity \
          --bin ${NAME}-sql \
          --bin ${NAME}-typescript \
          --locked \
          --release \
          --target=x86_64-unknown-linux-musl

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses] TODO
      with:
        persist-credentials: false
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1  # 2.8.1
    - run: cargo test --locked --no-run
    - run: cargo test
    - run: cargo test --locked --no-run --features=radamsa
    - run: cargo test --features=radamsa
