name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: tree-crasher

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@ce325b60658c1b38465c06cc965b79baf32c1e72
    - name: Lint
      run: cargo clippy -- --deny warnings

  static:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Deps
      run: |
        sudo apt-get install -y musl-tools
        rustup target add x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@ce325b60658c1b38465c06cc965b79baf32c1e72
    - run: |
        cargo build \
          --bin ${NAME}-javascript \
          --bin ${NAME}-regex \
          --bin ${NAME}-rust \
          --bin ${NAME}-sql \
          --locked \
          --release \
          --target=x86_64-unknown-linux-musl

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@ce325b60658c1b38465c06cc965b79baf32c1e72
    - run: cargo test --locked --no-run
    - run: cargo test
