name: dependabot
on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    uses: langston-barrett/gha/.github/workflows/merge-dependabot-prs.yml@2a02a76aebfc226461aa632fe33300ba5fcf2d9d
    with:
      only-patch: false
