name: dependabot
on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    uses: langston-barrett/gha/.github/workflows/merge-dependabot-prs.yml@edd880b5448475bd00b1136cb875c13d8dd506f4
    with:
      only-patch: false
