name: lint
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v0.6.0
      with:
        persist-credentials: false
    - uses: langston-barrett/gha/.github/actions/install-linters@ddb47fff1a948a8b474f5e709eb8f5c3ec90ca3c
    - run: ./scripts/lint/lint.py --skip=clippy --skip=zizmor
