name: release
on:
  push:
    branches:
    - release*
    tags:
    - v*

jobs:
  release:
    uses: langston-barrett/gha/.github/workflows/rust-release.yml@c1a0d0bf070930011fa45e31623ccea963f2bc7a
    with:
      publish: ${{ startsWith(github.ref, 'refs/tags/v') }}
    secrets:
      crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
    permissions:
      contents: write
